################################################################################
# Java-Spezifika
################################################################################

*.class

# Package Files #
*.jar
*.war
*.ear

################################################################################
# Papyrus
################################################################################

*.di
*.notation
*.png
*.uml

################################################################################
# Anderes
################################################################################
/bahnhofsteuerung/Bahnhofsteuerung/src/main/resources/META-INF/
/homeautomation/Home Automation/src/main/resources/META-INF/
/stockprice/Stock Price/src/main/resources/META-INF/

